<main class="root">
  <a routerLink="/">На главную</a>
  <h1 class="planet-name">
    Список всех персонажей на планете {{ currentPlanetName }}
  </h1>
  <label class="gender-label">
    Выберите пол персонажа:
    <select name="gender" (change)="onClick($event)">
      <option value="all">Любой</option>
      <option value="male">Мужской</option>
      <option value="female">Женский</option>
      <option value="unknown">Неизвестный</option>
      <option value="n/a">Не имеет пола</option>
    </select>
  </label>
  <p *ngIf="filteredPeopleInCurrentPlanet.length === 0">
    Персонажей не найдено
  </p>
  <div *ngIf="filteredPeopleInCurrentPlanet.length !== 0" class="people">
    <app-people-card
      *ngFor="let people of filteredPeopleInCurrentPlanet"
      [people]="people"
    ></app-people-card>
  </div>
</main>
